<p style="color: green"><%= notice %></p>

<h1>Employee rembruises</h1>

<div id="employee_rembruises">
  <% @employee_rembruises.each do |employee_rembruise| %>
    <%= render employee_rembruise %>
    <p>
      <%= link_to "Show this employee rembruise", employee_rembruise %>
    </p>
  <% end %>
</div>

<%= link_to "New employee rembruise", new_employee_rembruise_path %>
